body 
 { 
   background-color: #f8fff8; 
   margin: 10; 
   font-family: sans-serif; 
   font-size: 10pt; 
   color: #000066; 
 } 

h1 { font-size: 12pt; color: #000066; }

h2 { font-size: 10pt; color: #aa0000; }

.button, a.button, a.button:hover
 {
   margin: 1px;
   border: none;
   padding: 1px 3px;
   background: #0088bb;
   color: #ffffff;
   font-weight: bold;
   text-decoration: none;
 }
